html, body, .full-height {
  height: 100%;
  width: 100%;
}

#sidebar-wrapper {
   z-index: 1000;
   position: fixed;
   float: left;
   width: 365px;
   height: 250px;
   top:50px;
   margin-left: -0px;
   overflow-y: auto;
   background: #75b8f8;
   font-family: 'Roboto Condensed', sans-serif;
}
  
div#app {
 height: 100%;
 width: 100%;
 position: fixed;
 bottom:0;
 z-index: 0;
}

/* Sidebar Styles */

.sidebar-nav {
  overflow: hidden;
   position: absolute;
   top: 0;
   width: 350px;
   height: 200px;
   margin: 15px;
   padding: 0;
   list-style: none;
   font-size: 20px;
}

.sidebar-nav li {
   text-indent: 20px;
   line-height: 40px;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #999999;
}

.sidebar-nav li a:hover {
   text-decoration: none;
   color: #fff;
   background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
   text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
   font-size: 40px;
   line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
   color: black;
   font: bolder;
}

.sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
}

.sidebar-nav h4{
 margin-bottom: 10px;
 color:white;
 text-decoration: underline;
}

input#form-start{
  padding: 10px;
  width: 230px;
  margin-left: 70px;
  margin-bottom: 5px;
  border-radius: 10px;
}
input#form-destination{
  padding: 10px;
  width: 230px;
  margin-left: 70px;
  margin-bottom: 5px;
  border-radius: 10px;

}
div#sidebar-wrapper{
  border-radius: 0px 12px 12px 0px;
}
@media(min-width:768px) {

 #sidebar-wrapper {
       width: 380px;
       height: 260px;
       overflow: hidden;
   }

}
